header{
    background-color: rgb(246,246,249);
position: sticky;
top: 0;
left: 0;
right: 0;
}
.active{
    background-color: white;
}
.ul-list{
    background: rgb(246,246,249);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.drop-down-list:hover{
    background-color: rgb(250, 250, 250);
}
.product-list{
    left: 13.5rem;
    top: 0;
}
.scroll{
    overflow-y: scroll;
}



@media only screen and (max-width: 786px){
    header{
    position: static;
    }
}
